@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

body,html {
    background-color: $bG;
    position: relative;
}
#side-nav, #main {
    position: absolute;
}
#A {
    top: 0px;
    width: 200px;
    bottom: 0px;
    background:orange;
}
#B {
    top: 0px;
    left: 200px;
    right: 0;
    bottom: 0px;
    background:green;
}
#BB {
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0px;
    background:green;
}


.header {
    background-color: $blue;
    box-shadow: $bS;
    min-width: 100%;
    margin: 0;
    
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.icon {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.sc-icon {
    font-size: 50px;
    color: $blue;
}

.card {
    border: 1px solid $white;
    .card-header{
        background-color: $white !important;
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .card-title {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        padding-left: 10px;
        span {
            font-size: 14px;
            color: grey;
        }
    }
    

}