$shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
$dark: black;
$light: white;
$shadowLight: 0 24px 38px 3px rgb(250, 250, 250),0 9px 46px 8px rgba(250,250,250,0.12),0 11px 15px -7px rgb(250, 250, 250);
