body, html {
    height: 100%;
    
    background-size: cover;
  }
  
.parallax {
    /* The image used */
    background-image: url("/images/abc/xyz/bottom-navigation.jpg");
    width: 100vw;
  
    /* Full height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}