@import 'variables';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}
// LOGOS--------------------------------------------------------------------------
.logo-mobile{
    display: none;
}

// BUTTONS-------------------------------------------------------------------------
a.menu-btn{
    background-color: $dark;
    color: $light;

    &:hover {
        color: $light;
    }
}
.btn {
    padding: 10 15px;
    color: $dark;
    box-shadow: $shadow;
    border-radius: 20px;
    background: white;

    &:hover {
        box-shadow: none;
    }
}
// NAVIGATION BAR--------------------------------------------------------------------
nav {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;

    .nav-left {
        display: flex;
        align-items: center;
        height: 80px;
    }
}
// MENU--------------------------------------------------------------------
.menu-icon {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 50px;
    width: 50px;
    justify-content: center;
   

    .long-bar,.short-bar{
        border: 2px solid $dark;
        margin-bottom: 5px;
    }
    .long-bar{
        width: 30px;
    }
    .short-bar{
        width: 18px;
    }

    &:hover{
        .long-bar{
            width: 18px;
            transition: width 300ms ease-in-out 0s;
            
        }
        .short-bar{
            width: 30px;
            
        }
    }
}

// MENU MODAL----------------------------------------------------------------
.uk-modal-dialog{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-title{
    span{
        height:250px;
        border: 1px solid black;
    }
    color: lightgrey;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .m{
        margin-left: 10px;
    }
    li{
        transform: rotate(-90deg);
    }

    .title-mobile{
        display: none;
    }
}
.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
        font-size: 30px;
        margin-bottom: 20px;
        a {
            color: $dark;
            display: flex;
            align-items: center;
            
            .modal-icon{
                text-align: left;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: $shadowLight;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: white;
            }
            .menu-link{
               font-size: 20px;
            }
        }
        &:hover {
            a {
                .modal-icon {
                    background-color: $dark;
                    color: white;
                    box-shadow: $shadow;
                }
            }    
        }
    }
}
// SECTION HEADER-----------------------------------------------------------    
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        font-size: 40px;
    }
    .section-title{
        color: $dark;
        text-align: center;
        text-transform: capitalize;

    }
    margin-bottom: 20px;
}
// SECTION--------------------------------------------------------------------
section{
    min-height: 100vh;
    margin: 30px 0px;
}

section.banner {
    margin-top: 80px;
}

// SECTION CONTENT ----------------------------------------------------------------------
.content-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// PARALLAX EFFECT-----------------------------------------------------------------
.parallax {
    /* The image used */
    background-image: url("/ceeless-site/assets/white-bg0.jpg");
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// WHAT WE DO SECTION----------------------------------------------------------------
.dot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: $shadowLight;
    .service-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
  
        i {
          font-size: 30px;
          color: black;
          font-weight: 500;
          background-color: transparent !important;
        }
    }

    &:hover {
        box-shadow: $shadow;
    }
}


// RESPONSIVE DESIGN
@media screen and (max-width:600px){
    .dot-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .dot {
      margin-left: 0px !important;
      margin-bottom: 20px;
    }
}
@media screen and (min-width:601px){
    .dot-center {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .text-content {
        margin-left: 25%;
        margin-top: 10%;
    }
}