body, html {
    height: 100%;
    overflow-x: hidden;
  }
 
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0px;
}
.parallax {
    /* The image used */
    background-image: url("/ceeless-site/assets/white-bg0.jpg");
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}