@import 'variables';

.wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: $primary;
}

.dark-bg{
    background-color: $secondary;
    color: $light;
}

.round {
    border-radius: 50% !important;
}

@media only screen and (min-width: 993px){
    .container {
        width: 90% !important;
    }
}
